{% extends "main.html" %}

{% block navigation %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

<a class="navbar-brand" href="{{ url_for('main')}}">
  <img src="http://www.gratisskole.dk/sdata/minipic/008/00816-300.png" width="30" height="30" alt="">
  Track.Series
</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="{{ url_for('main')}}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('browse')}}">Browse</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Search by
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Cast</a>
        <a class="dropdown-item" href="#">Other</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Other</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>

  </form>

</div>

</nav>

{% endblock %}

{% block tagline %}

  <div id="butt">
    <form action="{{ url_for('search_serie') }}" method = "Post">
      <input class="form-control mr-sm-2" name ="serie" type="search" placeholder="Look for a TV show..." aria-label="Search">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>

{% endblock %}

{% block login %}
{% endblock %}

{% block series %}
{% endblock series %}

</form>
