{% extends "main.html" %}

{% block series %}

	<blockquote class="blockquote">

		<div class="row">
 			<div class="col-sm-4" style="padding-left: 80px; padding-top: 20px">

				<img class="card-img-top" alt="Card image cap" src={{series.image}} style="width: 24rem;"></img>
				<p>Ratings : {{series.rating}}</p>
				<p> Genres :
					{% for genre in series.genre: %}
					{{genre}}
					{% endfor %}
				</p>
				{% if logged :%}
				{% if subscribed %}
					<form class="form-inline my-2 my-lg-0" action="{{ url_for('details',serie = series.id) }}" method = "Post">
		  			<input class="form-control mr-sm-2" type="submit" name = "submit" value="Remove from favorites">
					</form>
				{% else %}
					<form class="form-inline my-2 my-lg-0" action="{{ url_for('details',serie = series.id) }}" method = "Post">
			  			<input class="form-control mr-sm-2" type="submit" name = "submit" value="Add to favorites">
					</form>
				{% endif %}
				{% else: %}
					<p> You need to login to access advanded features </p>
				{% endif %}

			</div>

  			<div class="col-sm-8" style="padding-right:80px;">
				<div style="padding-left:0px;padding-right:20px;padding-top:30px;padding-bottom:20px" >
					<h1>{{series.name}}</h1>
				</div>
				<h3>Summary:</h3>
				<p>{{series.summary}}</p>

				<p><a href = "{{series.website}}"}>Lien externe </a></p>

				<hr>
				<div>
					<h3>Cast:</h3>
					{% for person in cast: %}
						<div class = "series" class="card bg-light mb-3" style="width: 13rem;">
							{% if person[2] != None : %}
							<img class="card-img-top" alt="Card image cap" src={{person[2]}} style="width: 8rem;"></img>
							{%else%}
							<img class="card-img-top" alt="Card image cap" src=http://media.themalaymailonline.com/uploads/articles/2016-09/wechat_tuzki_21092016.jpg style="width: 8rem;"></img>
							{%endif%}
							<br>
							<br>
							{% if person[0] != None : %}
							<p> {{person[0]}} </p>
							{%endif%}
							{% if person[1] != None : %}
							<p>as {{person[1]}} </p>
							{%endif%}
						</div>
					{%endfor%}
				</div>
				<hr>

				<div>
					<h3>Crew:</h3>
					<div>
					{% for person in crew: %}
						<div class = "series" class="card bg-light mb-3" style="width: 13rem;">
							{% if person[2] != None : %}
							<img class="card-img-top" alt="Card image cap" src={{person[2]}} style="width: 8rem;"></img>
							{%else%}
							<img class="card-img-top" alt="Card image cap" src=http://media.themalaymailonline.com/uploads/articles/2016-09/wechat_tuzki_21092016.jpg style="width: 8rem;"></img>
							{%endif%}
							<br>
							<br>
							{% if person[0] != None : %}
							<p> {{person[0]}} </p>
							{%endif%}
							{% if person[1] != None : %}
							<p> {{person[1]}} </p>
							{%endif%}
						</div>
					{%endfor%}
					</div>

				</div>
				<hr>

				<div>
					<h3>Seasons:</h3>
					{% for season in seasons: %}
					{% if season[1] != None : %}
					<h5>Season {{season[0]}} : {{season[1]}}</h5>
					{% else: %}
					<h5>Season {{season[0]}} :</h5>
				    {% endif %}
					{% if season[2] != None : %}
					<p>{{season[2]}}</p>
					{% endif %}
					{% if season[3] != None : %}
					{% if season[4] != None : %}
					<p>beginning of the season : {{season[3]}}, end of the season : {{season[4]}}</p>
					{% endif %}
					{% endif %}
					{% endfor %}
				</div>
				<hr>

				<div>
					<h3>Episodes:</h3>
				</div>
			    <div>
					{% for season in dict_episodes: %}
					<h5>Season {{season}}</h5>
					{% for episode in dict_episodes[season] %}
						<p>Episode {{episode}} : {{dict_episodes[season][episode]['name']}} </p>
						<p>{{dict_episodes[season][episode]['summary']}}</p>
					{% endfor %}
					<br>
					{% endfor %}
			    </div>
				</div>




			</div>
		</div>

	</blockquote>

{% endblock series %}
