{% extends "main.html" %}

{% block series %}

	<blockquote class="blockquote text-center">

		<div id = "series" class="card bg-light mb-3" style="width: 13rem;">
			<img class="card-img-top" alt="Card image cap" src={{series.image}}></img>
	    	<div class = "serie" class="card-body">
			<p>{{series.name}}</p>
			<p>{{series.summary}}</p>
			<p>{{series.status}}</p>
			<p>Ratings : {{series.rating}}</p>

			<p> Genres :
			{% for genre in series.genre: %}
			{{genre}}
			{% endfor %}
			</p>
			<p><a href = "{{series.website}}"}>Lien externe </a></p>

		</div>
		<div>
		{% for season in dict_episodes: %}
		{% for episode in dict_episodes[season] %}
			{{dict_episodes[season][episode]}}
		{% endfor %}
		{% endfor %}
		</div>
		{% if logged :%}

			{% if subscribed %}
				<form class="form-inline my-2 my-lg-0" action="{{ url_for('details',serie = series.id) }}" method = "Post">
		  		<input class="form-control mr-sm-2" type="submit" name = "submit" value="Remove from favorites">
				</form>
			{% else %}
				<form class="form-inline my-2 my-lg-0" action="{{ url_for('details',serie = series.id) }}" method = "Post">
			  		<input class="form-control mr-sm-2" type="submit" name = "submit" value="Add to favorites">
				</form>
			{% endif %}
		{% else: %}
		<p> You need to login to access advanded features </p>

		{% endif %}
	</blockquote>

{% endblock series %}
