<!doctype html> <!-- we use an HTML5 doctype -->
<html lang="en">


  <head>

    <title>TrackSeries - Never miss an episode again !</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- viewport meta tag for proper responsive behaviors -->

	<link href="{{ url_for('static', filename='site.css') }}" rel="stylesheet" type="text/css" /> <!-- My CSS file -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">   <!-- Bootstrap CSS -->

  </head>

  <header>

  	{% block navigation %} <!-- Menu de navigation pour atteindre nos autres pages -->

  	<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background:#581845; position: fixed; width: 100%">

    <a class="navbar-brand" href="{{ url_for('main')}}">
    	<img src="http://www.gratisskole.dk/sdata/minipic/008/00816-300.png" width="30" height="30" alt="">
    	Track.Series
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>

      {% block loginmenu %}

      {% if logged: %}
  		<form class="form-inline my-2 my-lg-0" action="{{ url_for('login') }}" method = "Post">
          	<button class="btn" type="submit" name = "logout" style="background:#ffc300; margin-right:20px;">Logout</button>
  		</form>

      {% else: %}
  		<form class="form-inline my-2 my-lg-0" action="{{ url_for('login') }}" method = "Post">
  			<input class="form-control mr-sm-2" placeholder="Input your login" type="password" name ="login">
  			<button class="btn" type="submit" style="background:#ffc300; margin-right:20px;">Login</button>
  		</form>

      {% endif %}

      {% endblock %}

          <form class="form-inline my-2 my-lg-0" action="{{ url_for('search_serie') }}" method = "Post">
  			<input class="form-control mr-sm-2" name ="serie" type="search" placeholder="Look for a TV show..." aria-label="Search">
  			<button class="btn" type="submit" style="background:#ffc300">Search</button>
          </form>

      </div>

    </nav>

  	{% endblock %}

  </header>

	<div class = "main_frame">
	<div class="jumbotron jumbotron-fluid" style="background: white;">
	{% block message %}
	<div class ="message">
		{{message}}
	</div>
	{% endblock message %}

	{% block tagline %}
	{% if not logged %}

    <blockquote class="blockquote text-center" style="background-image: url(http://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-903ea3cb.jpg); margin-left: 20%; margin-right: 20%; padding-top: 40px; padding-bottom: 50px; color: white;">
    		<h1 class="display-3">
  			<img src="http://www.gratisskole.dk/sdata/minipic/008/00816-300.png" width="70" height="70" alt=""></img>
  			Track.Series
  		</h1>
    		<p class="lead">Keeping track of your favorite shows just became much easier.</p>
    		<hr class="my-3">
    		<p class="lead">Gather your favorite TV shows and make sure to never miss an episode again.</p>
    		<p class="lead">
      		  <a class="btn btn-lg" role="button" href="{{ url_for('signup')}}" style="background:#ffc300; color:#581845">Join Track.Series</a>
    		</p>
    </blockquote>

	{% endif %}
	{% endblock tagline %}

	{% block login %}
	{% endblock %}

	{% block series %}

	<h3 style="color: #c70039"> Favorite Series </h3>
	<blockquote id = "blockquote text-center">
		<!-- bloc de series -->
		{% for series in series_list %}

		<div class = "series" class="card bg-light mb-3" style="width: 13rem;">
			<img class="card-img-top" alt="Card image cap" src = {{series[2]}}></img>
			<div class = "serie" class="card-body">
				<a id="title" class="card-title" style="color:  #900c3f" href = {{ url_for('details',serie = series[0]) }}>{{series[1]}}</a>
			</div>
		</div>

		{% endfor %}

	</blockquote>


	<h3 style="color: #c70039"> Calendar </h3>
	<table class="timetable" style="width:90%; margin: auto;">
	<thead class="timetable_header">
		<tr>
			{% for day in schedule.keys() :%}
			<th class = "timetable_header_cell"  style="background:#c70039; color:white;">{{day}}</th>
			{% endfor %}
		</tr>
	</thead>
	
	<tbody>
		<!-- bloc de series -->
	<tr class = "day">
		{% for day in schedule.keys() :%}
		<td class ="cell" style="background-image: url(http://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-903ea3cb.jpg); color:white;">
		<ul>
		{% if schedule[day] != [] %}
		
			{% for series in schedule[day] %}
			<li>
			{{series[6]}}
			{{series[1]}}
			</li>
			{% endfor %}
		
		{% else %}
			<p>
			No airing planned
			</p>
		{% endif %}
		</ul>
		</td>
		{% endfor %}
	</tr>
	</tbody>

	</table>

	{% endblock %}

	</div>
	</div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </body>

</html>
