<!DOCTYPE html>

<html>

  <head> 

	<meta charset="UTF-8">
  <head> <!-- ceci est un commentaire -->
    <meta charset="UTF-8">
	<link href="{{ url_for('static', filename='site.css') }}" rel="stylesheet" type="text/css" />

	<title>TrackSeries - Never miss an episode again !</title>

  </head>

  <body>
	
	<header>
	</header>
	
	{% block navigation %} <!-- Menu de navigation pour atteindre nos autres pages -->
	
	<div id="nav">

		<span id="menu">

		<a class="menu" href={{ url_for('main') }}>Browse
		</a>
		<a class="retour"
		<a class="menu" href={{ url_for('main') }}>Login	
		</a>
		<a class="menu" href={{ url_for('main') }}>Next Episode	
		</a>

		</span>

		<a id="log" href={{ url_for('login') }}>SIGN IN
		</a>
	
	</div>
	
	{% endblock %}
	
	{% block profile %}
	<div id = "profile">
		<form action="{{ url_for('login') }}" method = "Post">
		  <label>Login:</p><input type="password" name ="login"><br>
		  <input type="submit" value="Login">
		</form>
	</div>
	{% endblock %}
	
	<div class = "title">
		<h1> Mes series</h1>
	</div>

	{% block tagline}

	<h1>TRACK SERIES
	</h1>

	<h2> Keeping track of your favorite shows just became much easier. 
	</h2>

	<h3>Gather your favorite TV shows and make sure to never miss an episode again.
	</h3>

	<button type=button>JOIN TRACKSERIES		
	</button>

	{% endblock %}
	
	{% block series %}

	<div id = "series">
		<!-- bloc de series -->
		{% for series in series_list %}
		<div class = "serie">
		<a href = {{ url_for('details',series = series[0]) }}>{{series[1]}}</a>
		</div>
		{% endfor %}
	</div>

	{% endblock %}
	
	<div id = "search">
		<form action="{{ url_for('search_serie') }}" method = "Post">
		 	<label>Rechercher une serie:</p>
			<input type="text" name ="serie" value="Breaking Bad"><br>
		  	<input type="submit" value="Submit">
		</form>
	</div>
	
	<footer>
	</footer>


  </body>
</html>