{% extends "main.html" %}

{% block navigation %}
{% endblock %}

{% block tagline %}
{% endblock %}

{% block login %}
{% endblock %}

{% block message %}

	<div class = "container">
		<h4>Let's register you!</h4>
		<br>
		<form method=post>
			<dl>
				{{ form.username.label }} {{ form.username }}
				{{ form.email.label }} {{ form.email }}
				{{ form.accept_tos.label }} {{ form.accept_tos }}
			</dl>
			<p><input type="submit" value="Register"></p>
		</form>

		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}

	</div>

{% endblock %}

{% block series %}
{% endblock %}
