{% extends "main.html" %}

{% block tagline %}
{% endblock %}

{% block login %}
{% endblock %}

{% block series %}
{% endblock %}

  <div class="container" id="signup">
          <div class="row centered-form">
          <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
          	<div class="panel panel-default">
          		<div class="panel-heading">
  			    		<h4 class="panel-title">Sign up for Track.Series <small>It's free!</small></h4>
  			 			</div>
  			 			<div class="panel-body">
  			    		<form role="form">
  			    			<div class="row">
  			    				<div class="col-xs-6 col-sm-6 col-md-6">
  			    					<div class="form-group">
  			                <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
  			    					</div>
  			    				</div>
  			    				<div class="col-xs-6 col-sm-6 col-md-6">
  			    					<div class="form-group">
  			    						<input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
  			    					</div>
  			    				</div>
  			    			</div>

  			    			<div class="form-group">
  			    				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
  			    			</div>

  			    			<div class="row">
  			    				<div class="col-xs-6 col-sm-6 col-md-6">
  			    					<div class="form-group">
  			    						<input type="login" name="login" id="login" class="form-control input-sm" placeholder="Login">
  			    					</div>
  			    				</div>
  			    				<div class="col-xs-6 col-sm-6 col-md-6">
  			    					<div class="form-group">
  			    						<input type="login" name="login_confirmation" id="login_confirmation" class="form-control input-sm" placeholder="Confirm Login">
  			    					</div>
  			    				</div>
  			    			</div>

  			    			<input type="submit" value="Register" class="btn btn-info btn-block">

  			    		</form>
  			    	</div>
  	    		</div>
      		</div>
      	</div>
      </div>
