#title:link {
	color:#3366ff ;
	text-decoration: underline;
}

#title:visited {
	color:#3366ff ;
	text-decoration: none;
}

#title:hover {
	color:#3366ff ;
	text-decoration: none;
}

#title:active {
    color:#3366ff
	text-decoration: none;
}

#menu {
	display: inline-table;
	text-indent: 400px;
	padding-right: 300px;
}

.menu {
	padding-right: 40px;
}

#log {
	text-indent: 800px}

#profile{
	border: 1px solid;
}

#search{
	border: 1px solid;
}

.series{
	display:inline-block;
}

<<<<<<< HEAD
#butt {
	float:left;
	margin-top:150px;
	margin-left:400px;
}

#signup {
    background-color: #525252;
}

.centered-form {
	margin-top: 60px;
}

.centered-form .panel {
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
=======
>>>>>>> 491ce646dcaeaa39d990b1adbc27c4473ea3d233
