#signup {
    background-color: #525252;
}

.centered-form {
	margin-top: 60px;
}

.centered-form .panel {
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

#nav {
	font-family: "Consolas", Monospace;
	font-size: 12px;
}

a:link {
	color:black ;
	text-decoration: none;
}

a:visited {
	color:black ;
	text-decoration: none;
}

a:hover {
	color:red ;
	text-decoration: none;
}

a:active {
    color: red;
	text-decoration: none;
}

#menu {
	display: inline-table;
	text-indent: 400px;
	padding-right: 300px;
}

.menu {
	padding-right: 40px;
}

#log {
	text-indent: 800px}

#profile{
	border: 1px solid;
}

#nav{
	border: 1px solid;
}

#search{
	border: 1px solid;
}

#series{
	display:inline-block;
	margin-left: 100px;
	border: 1px solid;
}

.serie{
	width: 200px;
	height: 100px;
	margin: 1em;
	border: 1px solid;
}